-- SQL Schema Export for Supabase
CREATE TABLE raw_materials (
    code TEXT PRIMARY KEY,
    name TEXT,
    type TEXT,
    unit TEXT,
    cost_net INTEGER,
    stock DECIMAL DEFAULT 0
, color TEXT, size TEXT, parent_code TEXT);
CREATE TABLE products (
    code TEXT PRIMARY KEY,
    name TEXT,
    type TEXT,
    price_net INTEGER,
    price_sale INTEGER,
    cost_unit DECIMAL,
    stock INTEGER DEFAULT 0
, color TEXT, size TEXT, parent_code TEXT);
CREATE TABLE recipes (
    product_code TEXT,
    mp_code TEXT,
    quantity DECIMAL, batch_size INTEGER DEFAULT 1, unit_cost DECIMAL DEFAULT 0,
    FOREIGN KEY (product_code) REFERENCES products(code),
    FOREIGN KEY (mp_code) REFERENCES raw_materials(code)
);
CREATE TABLE providers (
    id INTEGER PRIMARY KEY,
    name TEXT,
    contact TEXT,
    phone TEXT
);
CREATE TABLE clients (
    id INTEGER PRIMARY KEY,
    name TEXT,
    address TEXT
);
CREATE TABLE sales (
        id SERIAL PRIMARY KEY,
        date TEXT,
        client_id INTEGER,
        net INTEGER,
        iva INTEGER,
        total INTEGER,
        FOREIGN KEY (client_id) REFERENCES clients(id)
    );
CREATE TABLE sale_items (
        id SERIAL PRIMARY KEY,
        sale_id INTEGER,
        item_number INTEGER,
        product_code TEXT,
        quantity DECIMAL,
        unit_price INTEGER,
        subtotal INTEGER,
        FOREIGN KEY (sale_id) REFERENCES sales(id),
        FOREIGN KEY (product_code) REFERENCES products(code)
    );
CREATE TABLE purchases (
        id SERIAL PRIMARY KEY,
        date TEXT,
        provider_id INTEGER,
        net INTEGER,
        iva INTEGER,
        total INTEGER,
        FOREIGN KEY (provider_id) REFERENCES providers(id)
    );
CREATE TABLE purchase_items (
        id SERIAL PRIMARY KEY,
        purchase_id INTEGER,
        item_number INTEGER,
        mp_code TEXT,
        quantity DECIMAL,
        unit_price INTEGER,
        subtotal INTEGER,
        FOREIGN KEY (purchase_id) REFERENCES purchases(id),
        FOREIGN KEY (mp_code) REFERENCES raw_materials(code)
    );
CREATE TABLE production_items (id SERIAL PRIMARY KEY, production_id INTEGER, item_number INTEGER, product_code TEXT, quantity DECIMAL, mo_cost DECIMAL);
CREATE TABLE production (id SERIAL PRIMARY KEY, date TEXT);
