-- ============================================
-- Migración: Sistema Contable Profesional (Libro Diario)
-- ============================================

-- 1. Tabla: Plan de Cuentas (Chart of Accounts)
CREATE TABLE IF NOT EXISTS accounting_accounts (
    id BIGSERIAL PRIMARY KEY,
    code TEXT UNIQUE NOT NULL,    -- Ej: "1.1.01.01"
    name TEXT NOT NULL,           -- Ej: "Caja"
    type TEXT NOT NULL,           -- 'Activo', 'Pasivo', 'Patrimonio', 'Ingreso', 'Gasto'
    category TEXT,                -- 'Disponible', 'Inventario', 'Ventas', etc.
    active BOOLEAN DEFAULT true,
    created_at TIMESTAMP DEFAULT NOW()
);

-- 2. Insertar Plan de Cuentas Básico

-- 3. Tabla: Detalle de Asientos (Líneas del Libro Diario)
-- Relacionada con la tabla 'asientos_contables' existente (que actúa como cabecera)
CREATE TABLE IF NOT EXISTS accounting_lines (
    id BIGSERIAL PRIMARY KEY,
    asiento_id BIGINT REFERENCES asientos_contables(id) ON DELETE CASCADE,
    account_id BIGINT REFERENCES accounting_accounts(id),
    debit NUMERIC DEFAULT 0,
    credit NUMERIC DEFAULT 0,
    glosa TEXT, -- Descripción específica de la línea si aplica
    created_at TIMESTAMP DEFAULT NOW()
);

-- 4. Agregar tipo de asiento a la cabecera si no existe
ALTER TABLE asientos_contables ADD COLUMN IF NOT EXISTS entry_type TEXT; -- 'venta', 'compra', 'gasto', 'transferencia', 'consumo'
ALTER TABLE asientos_contables ADD COLUMN IF NOT EXISTS document_number TEXT; -- Factura #...
ALTER TABLE asientos_contables ADD COLUMN IF NOT EXISTS notes TEXT;

-- Comentario: Script listo para ser ejecutado en Supabase
